<ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Polls</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Deepthoughts</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>




 
<center>
<h1>Deepthoughts List</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
    {% for i in latest_thoughts_list %}
      <tr>
        <td>{{ i.text }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<div class="col-md-4 d-flex align-items-center">
    <span class="text-muted"> @ Zhiang Li</span>
</div>
